body{

/*background-color: red;*/

}

img {
    
width:100%
}

#mainTitle{

text-align:center;
font-size:20px;
margin-top:25px;
margin-bottom:10px;
}

#subTitle{

color:gray;
text-align:center;
font-size:16px;
margin-top:10px;
margin-bottom:15px;
}

.time{

margin-right:15px;
color:red
}

.all-img{

text-align:center;
/*color:orange;*/
/*margin:48px 0;*/
}